<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQnqQOvtjKvgWcauXJqAdEVNnY7j3JS1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>506998642439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outlook.junhyuk.lim.Workhour</string>
	<key>PROJECT_ID</key>
	<string>workhour-cd680</string>
	<key>STORAGE_BUCKET</key>
	<string>workhour-cd680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506998642439:ios:d7bd92c16327b98bb917a2</string>
</dict>
</plist>